.other-services {

    .columns {
        margin: 0 auto;
        display: flex;
        // align-content: space-around;
        width: 70%;
        flex-wrap: wrap;
        // padding: 10% 0;
        h3 {
            color: #494949;
            font-family: "Raleway - Semi Bold", sans-serif;
            // font-size: 18px;
            // font-weight: 400;
          text-align: left;
        }

        p {
            color: #7c7c7c;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
        }
    }
}

.other-services .columns>div{
    width: 33%;
    // &:before{
    //     content: url("../img/other-services/Game.svg");
    // }
    // background-image: url("../img/other-services/Game.svg");
    // background-repeat: no-repeat;
}

// .other-services .first:before{
//     content: url("../img/other-services/Game.svg");
// }